.addQuestions {
    margin-top: 10rem;

    .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            filter: drop-shadow(5px 5px 7px #000000);
            z-index: -1;
        }
    }

    .askQuestionContent {
        font-weight: 700;

        .header {
            font-weight: 800;
            letter-spacing: 1px;
            font-size: 1.9rem;
            margin-bottom: 2rem;
        }

        .rulesContainer {
            background-color: #bde0fe;
            font-size: 0.7rem;

            .header {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
        }

        .questionTitle,
        .questionDescription,
        .questionCategory,
        .questionImg {
            font-size: 0.7rem;

            label {
                font-size: 1rem;
            }

            .labelDesc {
                color: #adb5bd;
                font-weight: 600;
            }

            input,
            textarea,
            select {
                resize: none;
                margin-top: 0.5rem;
                width: 100%;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                border: 1px solid #adb5bd;

                option {
                    font-size: 0.8rem;
                    font-weight: 700;
                    text-transform: capitalize;
                }
            }

        }

        input[type='submit'] {
            width: 100%;
            background-color: #6a994e;
            padding: 0.5rem;
            border-radius: 10px;
            font-weight: 800;
            letter-spacing: 1px;
            color: #e9ff70;
            border: 0;
            outline: 0;
            box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        }

    }





}


@media (min-width : 991.5px) {
    .addQuestions {
        .imgContainer {
            height: 70vh;
            position: fixed;
        }
    }
}