.QuestionAnswer {
    margin-top: 8rem;


    .rightPanelQnA {

        .questionContainer {
            padding: 1rem 1.5em;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px;
            border-bottom: #212121 2px solid;
            padding-bottom: 1.5rem;
            letter-spacing: 1px;

            .questionTitle {
                font-weight: 800;
                font-size: 1.1rem;
                color: #1b263b;
            }

            .questionIssueDesc {
                margin-top: 2rem;
                font-weight: 700;
                font-size: 0.8rem;
                color: #778da9;
            }

            .questionImgContainer {
                width: 100%;
                margin: 1rem 0;

                img {
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                    aspect-ratio: 3/2;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .userDetails {
                margin-top: 1rem;
                font-weight: 700;
                font-size: 0.8rem;

                .userDp {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-right: 0.3rem;
                }

                .line {
                    width: 60px;
                    height: 20px;
                    margin-right: 0.5rem;
                }
            }

            .questionDetails {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .questionDetailsSub {
                    text-align: center;
                    margin-top: 2.5rem;
                    font-weight: 700;
                    font-size: 0.7rem;
                }
            }


        }
        
    }
}









@media (min-width:991.5px) {
    .rightPanelQnA {
        padding: 0.5rem 4rem;
    }
}