.adminPanel {
    .navBar {
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        font-weight: 800;
        font-size: 1.5rem;
        letter-spacing: 1px;
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: white;

        img {
            height: 3.5rem;
            filter: drop-shadow(5px 5px 4px #000000);
        }

        .notificationButton {
            position: absolute;
            top: 40%;
            right: 60px;

            i {
                font-size: 1.5rem;
            }

            .countNoNotification {
                position: absolute;
                top: -15px;
                left: -20px;
                height: 30px;
                width: 30px;
                font-size: 0.6rem;
                background-color: red;
                color: yellow;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .notificationBox::-webkit-scrollbar {
            display: none;
        }

        .notificationBox {
            z-index: 11;
            position: absolute;
            right: 60px;
            min-width: 260px;
            width: 260px;
            height: 20rem;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
            border-radius: 10px;
            background-color: #e7ecef;
            overflow: hidden;
            overflow-y: scroll;

            .header {
                position: absolute;
                top: 0;
                padding: 10px;
                width: 100%;
                background-color: #4f772d;
            }

            .notifiicationContent {
                position: absolute;
                top: 20px;

                .notificationTab {
                    width: 310px;
                    display: flex;
                    font-weight: 700;
                    font-size: 0.6rem;
                    padding: 10px;
                    margin-bottom: 0.2rem;
                    position: relative;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


                    .leftContent {
                        margin: auto;
                        display: flex;
                        width: 260px;

                        .dp {
                            width: 40px;
                            margin: auto;

                            img {
                                height: 28px;
                                width: 25px;
                                border-radius: 50%;
                                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            }
                        }

                        .contentNotif {
                            width: 210px;
                            padding: 5px;
                            font-size: 0.5rem;
                            line-height: 9px;
                        }

                    }

                    .iconContent {
                        i {
                            font-size: 0.8rem;
                            font-weight: 900;
                        }
                    }
                }
            }
        }

        .logoutBtn {
            position: absolute;
            right: 50px;

            button {
                font-size: 0.7rem;
                text-transform: capitalize;
                font-weight: 700;
                width: 6rem;
                padding: 0.3rem 0;
                border-radius: 10px;
                border: 0;
                outline: 0;
                background-color: red;
                color: yellow;
            }
        }

    }

    .content {
        margin-top: 9rem;

        .header {
            font-weight: 800;
            letter-spacing: 1px;
            font-size: 1.5rem;
            color: #415a77;
        }

        .summary {
            .header {
                font-weight: 700;
                font-size: 1.1rem;
                color: #403d39;
                letter-spacing: 0;
                padding: 0.5rem 0;
                border-bottom: 2px solid #e9ecef;
            }

            .contentDivs {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .contentContainer {
                    min-width: 18rem;
                    margin: 1rem;
                    display: flex;
                    justify-content: space-between;
                    max-width: 20rem;

                    .imgContainer {
                        margin: auto 0;
                        padding: 20px;
                        border-radius: 50%;
                        background-color: #fcbf49;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                        img {
                            height: 30px;
                            width: 30px;
                        }
                    }

                    .header {
                        color: #6c757d;
                        font-size: 0.9rem;
                        border-radius: 10px;
                    }

                    .contentMatter {
                        margin-top: 1rem;
                        font-weight: 800;
                        font-size: 1.6rem;
                        text-align: center;
                        color: red;
                    }
                }
            }
        }
    }
}