@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.landingContainer {
    margin-top: 9rem;

    .landingImg {
        img {
            filter: drop-shadow(5px 5px 5px #000000);
        }
    }

    .landingContent {
        .headerMain {
            font-family: "Poetsen One", sans-serif;
            font-weight: 800;
            font-size: 3.5rem;
            text-align: right;
            letter-spacing: 3px;
            // line-height: 3.5rem;

            .txt1 {
                color: #4cc9f0;
            }

            .txt2 {
                color: #001845;
            }

            .txt3 {
                color: #0353a4;
            }

            .slogan {
                font-family: "Jaro", sans-serif;
                font-weight: 700;
                color: #4cc9f0;
                text-transform: uppercase;
                font-size: 0.9rem;
                letter-spacing: 2px;
            }
        }

        .description {
            margin-top: 3rem;
            text-align: right;
            font-weight: 700;
            color: #7d8597;
            font-size: 0.7rem;
            letter-spacing: 1px;
        }

        .button {
            margin-top: 3rem;

            a {
                button {
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    padding: 0.5rem 3rem;
                    font-weight: 700;
                    font-size: 0.9rem;
                    border-radius: 15px;
                    background-color: #52b788;

                }
            }
        }
    }


}